.category-container {
  width: 90% !important;

  min-height: 80px !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  @media(min-width: 767px) {
    flex-direction: row;
  }
  @media(max-width: 768px) {
    flex-direction: column;
  }

}

