.category-container {
  width: 90% !important;

  min-height: 80px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media(min-width: 767px) {
    flex-direction: row;
  }
  @media(max-width: 768px) {
    flex-direction: column;
  }

}

